body {
	margin: 0px; padding: 0px; border: 0px currentColor; font-weight: normal; border-image: none;
}
ul {
	margin: 0px; padding: 0px; border: 0px currentColor; font-weight: normal; border-image: none;
}
ol {
	margin: 0px; padding: 0px; border: 0px currentColor; font-weight: normal; border-image: none;
}
li {
	margin: 0px; padding: 0px; border: 0px currentColor; font-weight: normal; border-image: none;
}
dl {
	margin: 0px; padding: 0px; border: 0px currentColor; font-weight: normal; border-image: none;
}
dt {
	margin: 0px; padding: 0px; border: 0px currentColor; font-weight: normal; border-image: none;
}
dd {
	margin: 0px; padding: 0px; border: 0px currentColor; font-weight: normal; border-image: none;
}
p {
	margin: 0px; padding: 0px; border: 0px currentColor; font-weight: normal; border-image: none;
}
h1 {
	margin: 0px; padding: 0px; border: 0px currentColor; font-weight: normal; border-image: none;
}
h2 {
	margin: 0px; padding: 0px; border: 0px currentColor; font-weight: normal; border-image: none;
}
h3 {
	margin: 0px; padding: 0px; border: 0px currentColor; font-weight: normal; border-image: none;
}
h4 {
	margin: 0px; padding: 0px; border: 0px currentColor; font-weight: normal; border-image: none;
}
h5 {
	margin: 0px; padding: 0px; border: 0px currentColor; font-weight: normal; border-image: none;
}
h6 {
	margin: 0px; padding: 0px; border: 0px currentColor; font-weight: normal; border-image: none;
}
form {
	margin: 0px; padding: 0px; border: 0px currentColor; font-weight: normal; border-image: none;
}
fieldset {
	margin: 0px; padding: 0px; border: 0px currentColor; font-weight: normal; border-image: none;
}
table {
	margin: 0px; padding: 0px; border: 0px currentColor; font-weight: normal; border-image: none;
}
td {
	margin: 0px; padding: 0px; border: 0px currentColor; font-weight: normal; border-image: none;
}
img {
	margin: 0px; padding: 0px; border: 0px currentColor; font-weight: normal; border-image: none;
}
div {
	margin: 0px; padding: 0px; border: 0px currentColor; font-weight: normal; border-image: none;
}
header {
	margin: 0px; padding: 0px; display: block;
}
footer {
	margin: 0px; padding: 0px; display: block;
}
section {
	margin: 0px; padding: 0px; display: block;
}
details {
	margin: 0px; padding: 0px; display: block;
}
aside {
	margin: 0px; padding: 0px; display: block;
}
menu {
	margin: 0px; padding: 0px; display: block;
}
nav {
	margin: 0px; padding: 0px; display: block;
}
article {
	margin: 0px; padding: 0px; display: block;
}
hgroup {
	margin: 0px; padding: 0px; display: block;
}
figure {
	margin: 0px; padding: 0px; display: block;
}
figcaption {
	margin: 0px; padding: 0px; display: block;
}
time {
	margin: 0px; padding: 0px; display: block;
}
ul {
	list-style-type: none;
}
ol {
	list-style-type: none;
}
li {
	list-style-type: none;
}
select {
	font-family: "풕턼환쥌"; vertical-align: middle;
}
input {
	font-family: "풕턼환쥌"; vertical-align: middle;
}
img {
	font-family: "풕턼환쥌"; vertical-align: middle;
}
a img {
	border: 0px currentColor; transition:1s; border-image: none;
}
em {
	font-style: normal;
}
i {
	font-style: normal;
}
.left {
	float: left;
}
.right {
	float: right;
}
.textCenter {
	text-align: center;
}
.textRight {
	text-align: right;
}
.block {
	display: block;
}
.none {
	display: none;
}
.en {
	font-family: Arial, Helvetica, sans-serif;
}
.pl5 {
	padding-left: 5px;
}
.pl10 {
	padding-left: 10px;
}
.pl15 {
	padding-left: 15px;
}
.pl20 {
	padding-left: 20px;
}
.pl25 {
	padding-left: 25px;
}
.pl30 {
	padding-left: 30px;
}
.pl35 {
	padding-left: 35px;
}
.pl40 {
	padding-left: 40px;
}
.pl45 {
	padding-left: 45px;
}
.pl50 {
	padding-left: 50px;
}
.pr5 {
	padding-right: 5px;
}
.pr10 {
	padding-right: 10px;
}
.pr15 {
	padding-right: 15px;
}
.pr20 {
	padding-right: 20px;
}
.pr25 {
	padding-right: 25px;
}
.pr30 {
	padding-right: 30px;
}
.pr35 {
	padding-right: 35px;
}
.pr40 {
	padding-right: 40px;
}
.pr45 {
	padding-right: 45px;
}
.pr50 {
	padding-right: 50px;
}
.pt5 {
	padding-top: 5px;
}
.pt10 {
	padding-top: 10px;
}
.pt15 {
	padding-top: 15px;
}
.pt20 {
	padding-top: 20px;
}
.pt25 {
	padding-top: 25px;
}
.pt30 {
	padding-top: 30px;
}
.pt35 {
	padding-top: 35px;
}
.pt40 {
	padding-top: 40px;
}
.pt45 {
	padding-top: 45px;
}
.pt50 {
	padding-top: 50px;
}
.pb5 {
	padding-bottom: 5px;
}
.pb10 {
	padding-bottom: 10px;
}
.pb15 {
	padding-bottom: 15px;
}
.pb20 {
	padding-bottom: 20px;
}
.pb25 {
	padding-bottom: 25px;
}
.pb30 {
	padding-bottom: 30px;
}
.pb35 {
	padding-bottom: 35px;
}
.pb40 {
	padding-bottom: 40px;
}
.pb45 {
	padding-bottom: 45px;
}
.pb50 {
	padding-bottom: 50px;
}
.ml5 {
	margin-left: 5px;
}
.ml10 {
	margin-left: 10px;
}
.ml15 {
	margin-left: 15px;
}
.ml20 {
	margin-left: 20px;
}
.ml25 {
	margin-left: 25px;
}
.ml30 {
	margin-left: 30px;
}
.ml35 {
	margin-left: 35px;
}
.ml40 {
	margin-left: 40px;
}
.ml45 {
	margin-left: 45px;
}
.ml50 {
	margin-left: 50px;
}
.mr5 {
	margin-right: 5px;
}
.mr10 {
	margin-right: 10px;
}
.mr15 {
	margin-right: 15px;
}
.mr20 {
	margin-right: 20px;
}
.mr25 {
	margin-right: 25px;
}
.mr30 {
	margin-right: 30px;
}
.mr35 {
	margin-right: 35px;
}
.mr40 {
	margin-right: 40px;
}
.mr45 {
	margin-right: 45px;
}
.mr50 {
	margin-right: 50px;
}
.mt5 {
	margin-top: 5px;
}
.mt10 {
	margin-top: 10px;
}
.mt15 {
	margin-top: 15px;
}
.mt20 {
	margin-top: 20px;
}
.mt25 {
	margin-top: 25px;
}
.mt30 {
	margin-top: 30px;
}
.mt35 {
	margin-top: 35px;
}
.mt40 {
	margin-top: 40px;
}
.mt45 {
	margin-top: 45px;
}
.mt50 {
	margin-top: 50px;
}
.mb5 {
	margin-bottom: 5px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb15 {
	margin-bottom: 15px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb25 {
	margin-bottom: 25px;
}
.mb30 {
	margin-bottom: 30px;
}
.mb35 {
	margin-bottom: 35px;
}
.mb40 {
	margin-bottom: 40px;
}
.mb45 {
	margin-bottom: 45px;
}
.mb50 {
	margin-bottom: 50px;
}
.wz10 {
	font-size: 10px;
}
.wz11 {
	font-size: 11px;
}
.wz13 {
	font-size: 13px;
}
.wz14 {
	font-size: 14px;
}
.wz15 {
	font-size: 15px;
}
.wz16 {
	font-size: 16px;
}
.wz17 {
	font-size: 17px;
}
.wz18 {
	font-size: 18px;
}
.wz19 {
	font-size: 19px;
}
.wz20 {
	font-size: 20px;
}
.wz21 {
	font-size: 21px;
}
.wz22 {
	font-size: 22px;
}
.wz23 {
	font-size: 23px;
}
.wz24 {
	font-size: 24px;
}
.wz25 {
	font-size: 25px;
}
.wz26 {
	font-size: 26px;
}
.wz27 {
	font-size: 27px;
}
.wz28 {
	font-size: 28px;
}
.wz29 {
	font-size: 29px;
}
.wz30 {
	font-size: 30px;
}
.hg14 {
	line-height: 14px;
}
.hg16 {
	line-height: 16px;
}
.hg18 {
	line-height: 18px;
}
.hg20 {
	line-height: 20px;
}
.hg22 {
	line-height: 22px;
}
.hg24 {
	line-height: 24px;
}
.hg26 {
	line-height: 26px;
}
.hg28 {
	line-height: 28px;
}
.hg30 {
	line-height: 30px;
}
.hg32 {
	line-height: 32px;
}
.hg34 {
	line-height: 34px;
}
.hg36 {
	line-height: 36px;
}
.hg38 {
	line-height: 38px;
}
.hg40 {
	line-height: 40px;
}
.hg42 {
	line-height: 42px;
}
.hg44 {
	line-height: 44px;
}
.hg46 {
	line-height: 46px;
}
.hg48 {
	line-height: 48px;
}
.hg50 {
	line-height: 50px;
}
.pointer {
	cursor: pointer;
}
.wbk {
	border: 0px currentColor; border-image: none;
}
.wbg {
	background: none;
}
.relative {
	position: relative;
}
body {
	margin: 0px auto;  line-height: 20px; font-family: "풕턼환쥌"; font-size: 14px; -ms-overflow-x: hidden; max-width: 640px;
}
@media screen and (min-width:1000px)
{
body {
	font-size: 22.5px; -webkit-text-size-adjust: none;
}
input {
	font-size: 22.5px;
}
}
.clearfix::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.clearfix {
	-ms-zoom: 1;
}
* {
	font-size: 14px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
	transition:1s; color: rgb(204, 160, 86); text-decoration: none;
}
a:hover {
	text-decoration: none;
}
img {
	transition:1s; animation:fadeIn 0.8s both; height: auto; vertical-align: middle; -ms-interpolation-mode: bicubic; max-width: 100%; -webkit-animation: fadeIn .8s ease both 0;
}
#infscr-loading {
	margin: 0px auto; width: 100%; bottom: 0px; color: rgb(255, 147, 30); position: fixed; max-width: 640px;
}
#loading {
	background: rgb(48, 48, 48); margin: 0px auto; width: 100%; height: auto; text-align: center; padding-top: 40%; padding-bottom: 60%; position: absolute; z-index: 999999; max-width: 640px;
}
#loading img {
	margin-top: 100px;
}
#uping {
	left: 0px; top: 30%; width: 100%; height: 100px; text-align: center; color: rgb(102, 102, 102); position: absolute; z-index: 999999;
}
#header .navbtn {
	left: auto; top: 20px; width: 72px; right: 10px; position: absolute;
}
.back {
	left: 0px; top: 0px; position: absolute;
}
#header {
	background-image: url("../images/hdbg.jpg"); top: 0px; width: 100%; height: 60px; position: fixed; z-index: 50; max-width: 640px; margin:0 auto;
}
.logo {
	margin: 20px 0px 0px 10px; width: 194px;
}
.nav {
	top: 0px; width: 100%; height: 100%; overflow: hidden; display: none; position: fixed; z-index: 500; max-width: 640px; background-color:#474144;
}
.incdbtn ul {
	-webkit-box-orient: vertical;
}
.incdbtn ul li {
	background-position: 3em; padding: 5px 0px; height: 3.5em; line-height: 3.5em; border-bottom-color: rgb(49, 49, 49); border-bottom-width: 1px; border-bottom-style: solid; background-repeat: no-repeat; background-size: 2.8em;
}
.incdbtn ul li a {color:#FFFFFF;padding-left:20px;
	
}
@media screen and (max-height:760px) and (min-height:568px)
{
.incdbtn ul li {
	height: 5.3em; line-height: 5.3em;
}
}
.incdbtn ul li:nth-child(1) {
	background-image: url("/images/nav_1.png");
}
.incdbtn ul li:nth-child(2) {
	background-image: url("/images/nav_2.png");
}
.incdbtn ul li:nth-child(3) {
	background-image: url("/images/nav_3.png");
}
.incdbtn ul li:nth-child(4) {
	background-image: url("/images/nav_4.png");
}
.incdbtn ul li:nth-child(5) {
	background-image: url("/images/nav_5.png");
}
.incdbtn ul li:nth-child(6) {
	background-image: url("/images/nav_6.png");
}
.incdbtn ul li:nth-child(7) {
	display: none; background-image: url("/images/nav_7.png");
}
.close {
	padding: 15px 10px 0px 0px; width: 32px; margin-bottom: 5px; float: right; cursor: pointer;
}
.incdbtn ul li span {
	height: 3em; padding-left: 6em; font-size: 18px;
}
@media screen and (max-height:760px) and (min-height:568px)
{
.incdbtn ul li span {
	height: 4em; display: block;
}
}
@media screen and (min-width:1000px)
{
.incdbtn ul li span {
	width: 18em;
}
}
#footer {
	background: rgb(29, 29, 29); border-top-color: rgb(176, 146, 101); border-top-width: 20px; border-top-style: solid;
}
.inwk4 {
	margin: 0px auto; width: 85%; text-align: center; color: rgb(176, 146, 101); line-height: 50px; padding-top: 10px; font-size: 18px;
}
#bdshare {
	width: 100%; height: 55px; border-bottom-color: rgb(71, 71, 71); border-bottom-width: 1px; border-bottom-style: solid;
}
#bdshare a {
	margin-right: 5px;
}
.copy {
	padding-top: 15px;
}
.copy img {
	width: 53%;
}
.face {
	cursor: pointer;
}
#facebox {
	left: 10% !important;
}
.xlbtn {
	padding-left: 5px; cursor: pointer;
}
.qqFace {
	background: white; border: 1px solid rgb(223, 230, 246); margin-top: 4px; border-image: none;
}
.qqFace td {
	padding: 10px;
}
.qqFace img {
	min-width: 24px;
}
.qqFace .select {
	color: rgb(255, 0, 0); font-size: 18px;
}
.qqFace .noselect {
	font-size: 18px;
}
.more {
	text-align: center; line-height: 60px;
}
.more a {
	background: rgb(252, 165, 52); padding: 0px; border-radius: 3px; border: currentColor; width: 90%; height: 40px; text-align: center; color: rgb(255, 255, 255); line-height: 40px; font-family: "풕턼환쥌", "풻"; font-size: 14px; display: inline-block; cursor: pointer; border-image: none; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; -webkit-border-radius: 3px;
}
#screen {
	background: rgba(0, 0, 0, 0.6); left: 0px; top: 0px; width: 100%; height: 100%; display: none; position: absolute; z-index: 100;
}
.scrollContent {
	top: 0px; width: 100%; bottom: 0px; position: fixed; -ms-overflow-y: scroll; max-width: 640px;
}
.fadeIn {
	animation:fadeIn 0.8s both; -webkit-animation: fadeIn .8s ease both 0;
}
