@using Platform.JHMobile.Models
@model List<f______列表寻呼未阅表_Result>
@{
    foreach (var obj in Model)
    {
        <div class="row" onclick="top.location = '@Url.Action("寻呼列表未阅内容", "已收寻呼", new { id = obj.CallNoSeeID })';">
            <div class="col-xs-12">
                <div class="chat-wrap scroll-chat-widget">
                    <ul class="media-list media-xs media-dotted media-chat">
                        <li class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object img-circle" src="~/Content/img/已收寻呼未阅寻呼.jpg" alt="" />
                            </a>
                            <div class="media-body" style="background-color:#fff;">
                                <p class="name" style="background-color:#5C96F7; padding:8px">
                                    <small>@obj.UserName</small><small style="float:right">@obj.CallTime.ToString("yyyy-MM-dd HH:mm:ss")</small>
                                </p>
                                <p class="small">
                                    &nbsp;&nbsp;&nbsp;&nbsp;@OfficeController.Cut(@Html.Raw(obj.CallContent).ToString(), int.MaxValue)
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    }
}
<div class="row">
    <div class="col-md-12 text-center">
        -&nbsp;&nbsp;&nbsp;&nbsp;第&nbsp;@(ViewBag.Current)&nbsp;页&nbsp;&nbsp;&nbsp;&nbsp;-
    </div>
</div>
<div class="row">&nbsp;</div>
