@{
    ViewBag.Title = "未阅寻呼";
}
<script>
    $(document).ready(function () {
        loadList(0);
    });

    var _pageIndex = 0;

    function loadList() {
        $("#area").append("<div class='row'><div class='col-xs-12'><p>" + _pageIndex + "</p></div></div>");
        _pageIndex++;
    }
</script>
<div id="area" class="container">
    <div class="row">
        <div class="col-xs-12 metro_left metro_right">
            <h1 class="page-heading" style="margin: 5px;">未阅寻呼</h1>
            <div class="the-box toolbar no-border no-margin">
                <div class="row">
                    <div class="col-xs-7">
                        <div class="btn btn-warning" type="button" onclick="top.location = '@Url.Action("首页", "首页")';">
                            <i class="fa fa-home fa-lg"></i>
                        </div>
                        <div class="btn btn-warning" type="button" onclick="top.location = '@Url.Action("首页", "已收寻呼")';">
                            <i class="fa fa-reply fa-lg"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <input class="btn btn-warning" value="加载更多" onclick="loadList();" />
        </div>
    </div>
</div>