body {
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

.metro {
    width: 100%;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    padding-top: 15px;
}

.metro_text {
    font-size: large;
}

.metro i {
    color: white;
}

.metro_left {
    padding-left: 30px;
}

.metro_right {
    padding-right: 30px;
}

.metro_x {
    background-color: #767676;
}

.metro_0 {
    background-color: #e77960;
}

.metro_1 {
    background-color: #50a6a7;
}

.metro_2 {
    background-color: #6d8dbe;
}

.metro_3 {
    background-color: #e9cc4c;
}

.metro_4 {
    background-color: #ba769f;
}

.metro_5 {
    background-color: #6fb57f;
}

.metro_0c {
    color: #e77960;
    background-color: white;
}

.metro_1c {
    color: #50a6a7;
    background-color: white;
}

.metro_2c {
    color: #6d8dbe;
    background-color: white;
}

.metro_3c {
    color: #e9cc4c;
    background-color: white;
}

.metro_4c {
    color: #ba769f;
    background-color: white;
}

.metro_5c {
    color: #6fb57f;
    background-color: white;
}

.panel-heading span a, .panel-heading span a:hover, .panel-heading span a:active, .panel-heading span a:visited {
    color: white;
}
