@model List<Homory.Model.Contact_Users>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>大数据</title>
    <script>
        function searching() {
            top.location.href = "http://oa.wxlxjy.com:888/Contact/Query/Index/" + encodeURIComponent(document.getElementById("search").value.trim());
        }
    </script>
</head>
<body>
    <div>
        <input id="search" type="text" />
        <input type="submit" value="检索" onclick="searching();" />
    </div>
    <ul>
        @{
            foreach (var user in Model)
            {
                <li>
                    <ul>
                        <li>
                            单位：@user.CampusName
                        </li>
                        <li>
                            姓名：@user.RealName
                        </li>
                        <li>
                            手机号码：@user.Phone
                        </li>
                        <li>
                            头像：<img src="@user.Icon" style="width: 120px; height: 120px;" />
                        </li>
                        <li>
                            主职：@(user.PerStaff ? "是" : "否")
                        </li>
                    </ul>
                </li>
            }
        }
    </ul>
</body>
</html>
