body {
  transition-property: margin, transform;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
  font-family: 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, SimHei;
  background: url("../../../Images/Common/BG.gif") center 0 repeat;
}
