ul {
	margin-top: 0px;
}
.admin-icon-yellow {
	color: rgb(255, 190, 64);
}
.admin-header {
	font-size: 1.4rem; margin-bottom: 0px;
}
.admin-header-list a:hover ::after {
	content: none;
}
.admin-main {
	background: rgb(243, 243, 243);
}
.admin-menu {
	right: 20px; bottom: 30px; position: fixed; z-index: 10;
}
.admin-sidebar {
	width: 260px; border-right-color: rgb(206, 206, 206); border-right-width: 1px; border-right-style: solid; float: left; min-height: 100%;
}
.admin-sidebar-list {
	margin-bottom: 0px;
}
.admin-sidebar-list li a {
	color: rgb(92, 92, 92); padding-left: 24px;
}
.admin-sidebar-list li:first-child {
	border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.admin-sidebar-sub {
	background: rgb(236, 236, 236); padding-left: 24px; margin-top: 0px; margin-bottom: 0px; box-shadow: inset 0px 16px 8px -15px #e2e2e2;
}
.admin-sidebar-sub li:first-child {
	border-top-color: rgb(222, 222, 222); border-top-width: 1px; border-top-style: solid;
}
.admin-sidebar-panel {
	margin: 10px;
}
.admin-content {
	background: rgb(255, 255, 255); width: auto; height: 100%; overflow: hidden;
}
.admin-content-list {
	border: 1px solid rgb(233, 236, 241); border-image: none; margin-top: 0px;
}
.admin-content-list li {
	border-width: 0px 1px; border-style: solid; border-color: rgb(233, 236, 241); border-image: none; margin-left: -1px;
}
.admin-content-list li:first-child {
	border-left-color: currentColor; border-left-width: medium; border-left-style: none;
}
.admin-content-list li:last-child {
	border-right-color: currentColor; border-right-width: medium; border-right-style: none;
}
.admin-content-table a {
	color: rgb(83, 83, 83);
}
.admin-content-file {
	color: rgb(102, 102, 102); margin-bottom: 0px;
}
.admin-content-file p {
	margin: 0px 0px 5px; font-size: 1.4rem;
}
.admin-content-file li {
	padding: 10px 0px;
}
.admin-content-file li:first-child {
	border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.admin-content-file li:last-child {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.admin-content-file li .am-progress {
	margin-bottom: 4px;
}
.admin-content-file li .am-progress-bar {
	line-height: 14px;
}
.admin-content-task {
	margin-bottom: 0px;
}
.admin-content-task li {
	border-color: rgb(238, 238, 238); padding: 5px 0px;
}
.admin-content-task li:first-child {
	border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.admin-content-task li:last-child {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.admin-task-meta {
	color: rgb(153, 153, 153); font-size: 1.2rem;
}
.admin-task-bd {
	font-size: 1.4rem; margin-bottom: 5px;
}
.admin-content-comment {
	margin-bottom: 0px;
}
.admin-content-comment .am-comment-bd {
	font-size: 1.4rem;
}
.admin-content-pagination {
	margin-bottom: 0px;
}
.admin-content-pagination li a {
	padding: 4px 8px;
}
@media only screen and (min-width:641px)
{
.admin-sidebar {
	background: none; display: block; position: static;
}
.admin-offcanvas-bar {
	background: none; width: auto; position: static; transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0, 0, 0);
}
.admin-offcanvas-bar::after {
	content: none;
}
}
@media only screen and (max-width:640px)
{
.admin-sidebar {
	width: inherit;
}
.admin-offcanvas-bar {
	background: rgb(243, 243, 243);
}
.admin-offcanvas-bar::after {
	background: rgb(186, 186, 186);
}
.admin-sidebar-list a:hover {
	background: rgb(228, 228, 228); transition:background-color 0.3s; -webkit-transition: background-color .3s ease; -moz-transition: background-color .3s ease; -o-transition: background-color .3s ease;
}
.admin-sidebar-list a:active {
	background: rgb(228, 228, 228); transition:background-color 0.3s; -webkit-transition: background-color .3s ease; -moz-transition: background-color .3s ease; -o-transition: background-color .3s ease;
}
.admin-content-list li {
	border-width: 1px 0px; padding: 10px; margin-top: -1px;
}
.admin-content-list li:first-child {
	border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.admin-content-list li:last-child {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.admin-form-text {
	text-align: left !important;
}
}
.user-info {
	margin-bottom: 15px;
}
.user-info .am-progress {
	margin-bottom: 4px;
}
.user-info p {
	margin: 5px;
}
.user-info-order {
	font-size: 1.4rem;
}
.error-log .am-pre-scrollable {
	max-height: 40rem;
}
.table-main {
	padding: 0.5rem; font-size: 1.4rem;
}
.table-main button {
	background: rgb(255, 255, 255);
}
.table-check {
	width: 30px;
}
.table-id {
	width: 50px;
}
@media only screen and (max-width:640px)
{
.table-select {
	margin-top: 10px; margin-left: 5px;
}
}
.gallery-list li {
	padding: 10px;
}
.gallery-list a {
	color: rgb(102, 102, 102);
}
.gallery-list a:hover {
	color: rgb(59, 180, 242);
}
.gallery-title {
	font-size: 1.4rem; margin-top: 6px;
}
.gallery-desc {
	font-size: 1.2rem; margin-top: 4px;
}
.page-404 {
	background: rgb(255, 255, 255); margin: 0px auto; border: currentColor; border-image: none; width: 200px;
}
.fixed-layout {
	height: 100%; overflow: hidden;
}
.fixed-layout body {
	height: 100%; overflow: hidden;
}
.fixed-layout .admin-header {
	left: 0px; top: 0px; right: 0px; position: fixed; z-index: 1500;
}
.fixed-layout .admin-main {
	height: 100%; padding-top: 51px; position: relative;
}
.fixed-layout .admin-content {
	height: 100%; -ms-overflow-x: hidden; -ms-overflow-y: scroll;
}
.fixed-layout .admin-sidebar {
	height: 100%; -ms-overflow-x: hidden; -ms-overflow-y: scroll;
}
.fixed-layout .am-active.admin-sidebar {
	z-index: 1600;
}
