<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="ResourcePath" value="I:\乐翼教育云平台\LeYi\Publish.Common\资源" />
    <add key="ResourceTempPath" value="I:\乐翼教育云平台\LeYi\Publish.Common\临时" />
    <add key="ResourceCountPerThread" value="1" />
    <add key="ResourceConvertedExtension" value=".mp4" />
    <add key="ResourceConvertLog" value="I:\乐翼教育云平台发布\Service.ResourceConvert\Log\服务.资源转换.{0}.log" />
    <add key="LibraryConverter" value="I:\乐翼教育云平台发布\Service.ResourceConvert\NReco.VideoConverter.dll" />
    <add key="LibraryEngine" value="I:\乐翼教育云平台发布\Service.ResourceConvert\STSdb4.dll" />
    <add key="LibraryEngineFile" value="I:\乐翼教育云平台发布\Service.ResourceConvert\ResourceToConvert.list" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>