@using Platform.JHMobile.Models

@model f____Mobile_List_MessageModuleSingle_Result

@{
    ViewBag.Title = "待阅信息详情";
}

<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/sb-admin-2/css/sb-admin-2.css" rel="stylesheet" />
<script src="~/Content/sb-admin-2/js/sb-admin-2.js"></script>

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="btn btn-warning" type="button" onclick="home();">
                <i class="fa fa-home fa-lg"></i>
            </div>
            <div class="btn btn-warning" type="button" onclick="back();">
                <i class="fa fa-reply fa-lg"></i>
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-12"><strong>信息标题</strong></div>
        <div class="col-md-12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.MessageTitle</div>
        <div class="col-md-12"><strong>部门人员</strong></div>
        <div class="col-md-12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.DeptName&nbsp;&nbsp;-&nbsp;&nbsp;@Model.UserName</div>
        <div class="col-md-12"><strong>分发时间</strong></div>
        <div class="col-md-12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.SendTime.Value.ToString("yyyy-MM-dd HH:mm:ss")</div>
        <div class="col-md-12"><strong>信息正文</strong></div>
        <div class="col-md-12">
            @Html.Raw(Model.MessageHTML)
            @{
                if (!string.IsNullOrEmpty(ViewBag.PDF))
                {
                    <input id="pdfPath" type="hidden" value="@string.Format("../../{0}", ViewBag.PDF.Replace(DingTalk.CorpJinHer, "").Replace("\\", "/"))" />
                    <iframe id="viewer" style="width: 100%; height: 389px;" src="~/PDFViewer/web/viewer.html"></iframe>
                }
            }
        </div>
        <div class="col-md-12"><strong>已阅人员</strong></div>
        <div class="col-md-12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@ViewBag.PeopleRead</div>
    </div>
</div>

<script>
    function back() {
        window.location = corp_url + 'Message/MessageModuleSingle/@ViewBag.ModuleTypeID';
    }

    function home() {
        window.location = corp_url + 'Ding/Home';
    }
</script>
