<script>
    var _index = 0;
    var _max = @ViewBag.Max;

    $(document).ready(function () {
        if(_max >=0)
            loadList();
        else
            $("#handler").hide();
    });

    function loadList() {
        $("#handler").hide();
        var href = '@Url.Action("已阅信息列表单页", "已阅信息")' + "/" + _index;
        $.ajax({
            url: href,
            type: "GET",
            success: function (data) {
                $("#area").append(data);
                _index++;
                if(_index > _max)
                    $("#handler").hide();
                else
                    $("#handler").show();
            },
            error: function () {
            }
        });
    }
</script>
<div id="area" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-heading" style="margin: 5px;">已阅信息</h1>
            <div class="the-box toolbar no-border no-margin">
                <div class="row">
                    <div class="col-xs-7">
                        <div class="btn btn-warning" type="button" onclick="top.location = '@Url.Action("首页", "首页")';">
                            <i class="fa fa-home fa-lg"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>
</div>
<div id="handler" class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <input class="btn btn-warning" type="button" value="显示更多" onclick="loadList();" />
        </div>
    </div>
</div>
