<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta charset="utf-8" />
    <title>错误</title>
</head>
<body>
    <hgroup>
        <h1>出错了</h1>
    </hgroup>
</body>
</html>
