@model List<Platform.JHMobile.Models.未阅寻呼列表_Result>
@{
    ViewBag.Title = "未阅寻呼";
    var index = 0;
}

<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/sb-admin-2/css/sb-admin-2.css" rel="stylesheet" />
<script src="~/Content/sb-admin-2/js/sb-admin-2.js"></script>

<div id="root" class="container">
    <div class="row">&nbsp;</div>
    @foreach (var obj in Model)
    {
        index++;
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-8 text-left">
                                <div>@obj.CallTime.ToString("yyyy-MM-dd HH:mm:ss")</div>
                            </div>
                            <div class="col-xs-4 text-right">
                                <div>@obj.UserName</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">@Html.Raw(obj.CallContent)</span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    }
</div>

<script>
    var hammer_time = new Hammer(document.getElementById("root"));

    hammer_time.on("doubletap", function (e) {
        window.location = corp_url + 'Home/Home';
    });
</script>
