@model Platform.JHMobile.Models.待阅信息详情_Result
@{
    ViewBag.Title = "待阅信息详情";
}

<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/sb-admin-2/css/sb-admin-2.css" rel="stylesheet" />
<script src="~/Content/sb-admin-2/js/sb-admin-2.js"></script>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <div>@Model.MessageTitle</div>
                        </div>
                    </div>
                </div>
                <a>
                    <div class="panel-footer">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4">分发部门</div>
                                <div class="col-md-8">@Model.DeptName</div>
                                <div class="col-md-4">分发人员</div>
                                <div class="col-md-8">@Model.UserName</div>
                                <div class="col-md-4">分发时间</div>
                                <div class="col-md-8">@Model.SendTime</div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
