@model Platform.JHMobile.Models.待阅信息详情_Result
@{
    ViewBag.Title = "待阅信息详情";
}

<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/sb-admin-2/css/sb-admin-2.css" rel="stylesheet" />
<script src="~/Content/sb-admin-2/js/sb-admin-2.js"></script>
<style>
    .col-md-12 {
        margin-top: 2px;
        margin-bottom: 2px;
    }
</style>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-xs-6">
            <div class="btn btn-warning" type="button" onclick="home();">
                <i class="fa fa-home fa-lg"></i>
            </div>
            <div class="btn btn-warning" type="button" onclick="back();">
                <i class="fa fa-envelope fa-lg"></i>
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-12"><div class="btn btn-primary">信息标题</div></div>
        <div class="col-md-12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.MessageTitle</div>
        <div class="col-md-12"><div class="btn btn-primary">部门人员</div></div>
        <div class="col-md-12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.DeptName&nbsp;&nbsp;-&nbsp;&nbsp;@Model.UserName</div>
        <div class="col-md-12"><div class="btn btn-primary">分发时间</div></div>
        <div class="col-md-12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.SendTime.Value.ToString("yyyy-MM-dd HH:mm:ss")</div>
        <div class="col-md-12"><div class="btn btn-primary">信息正文</div></div>
        <div class="col-md-12">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.Raw(Model.MessageHTML)
            @{
                if (!string.IsNullOrEmpty(ViewBag.PDF))
                {
                    <input id="pdfPath" type="hidden" value="@string.Format("../../{0}", ViewBag.PDF.Replace(Platform.JHMobile.Models.Corp.corp_c6, "").Replace("\\", "/"))" />
                    <iframe id="viewer" style="width: 100%; height: 455px;" src="~/PDFViewer/web/viewer.html"></iframe>
                }
            }
        </div>
        @{
            if (ViewBag.Read)
            {
                <div class="col-md-12"><div class="btn btn-primary">首阅时间</div></div>
                <div class="col-md-12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@ViewBag.ReadTime.ToString("yyyy-MM-dd HH:mm:ss")</div>
            }
            else
            {
                <div class="col-md-12 text-right">
                    <div class="btn btn-warning" type="button" onclick="read();">
                        已阅
                    </div>
                </div>
            }
        }
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="btn btn-warning" type="button" onclick="home();">
                <i class="fa fa-home fa-lg"></i>
            </div>
            <div class="btn btn-warning" type="button" onclick="back();">
                <i class="fa fa-envelope fa-lg"></i>
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>
</div>

<script>
    function back() {
        window.location = corp_url + 'Home/MessageModule/@ViewBag.ModuleTypeID';
    }

    function home() {
        window.location = corp_url + 'Home/Home';
    }

    function read() {
        window.location = corp_url + 'Home/MessageRead/@Model.MessageID';
    }
</script>
