@model Platform.JHMobile.Models.待阅信息详情_Result
@{
    ViewBag.Title = "待阅信息详情";
}

<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/sb-admin-2/css/sb-admin-2.css" rel="stylesheet" />
<script src="~/Content/sb-admin-2/js/sb-admin-2.js"></script>
<style>
    .col-md-12 {
        margin-top: 2px;
        margin-bottom: 2px;
    }
</style>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-12"><div class="btn btn-success">信息标题</div></div>
        <div class="col-md-12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.MessageTitle</div>
        <div class="col-md-12"><div class="btn btn-success">部门人员</div></div>
        <div class="col-md-12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.DeptName&nbsp;&nbsp;-&nbsp;&nbsp;@Model.UserName</div>
        <div class="col-md-12"><div class="btn btn-success">分发时间</div></div>
        <div class="col-md-12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.SendTime.Value.ToString("yyyy-MM-dd HH:mm:ss")</div>
        <div class="col-md-12"><div class="btn btn-success">信息正文</div></div>
        <div class="col-md-12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.Raw(Model.MessageHTML)</div>
    </div>
</div>
