@model List<Platform.JHMobile.Models.MessageObject>

@{
    ViewBag.Title = "待阅信息";
}

<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/sb-admin-2/css/sb-admin-2.css" rel="stylesheet" />
<script src="~/Content/sb-admin-2/js/sb-admin-2.js"></script>

<div id="root" class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        @foreach (var mo in Model)
        {
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green" onclick="@(mo.MessageCount == 0 ? "" : "window.location = corp_url + 'Home/MessageModule/" + mo.ModuleTypeId + "';")">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-envelope fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@mo.MessageCount</div>
                                <div>@mo.ModuleTypeName</div>
                            </div>
                        </div>
                    </div>
                    <a>
                        <div class="panel-footer">
                            <span class="pull-left"></span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>

<script>
    var hammer_time = new Hammer(document.getElementById("root"));

    hammer_time.on("doubletap", function (e) {
        window.location = corp_url + 'Home/Home';
    });
</script>
