@model Platform.JHMobile.Models.TaskObject
@{
    ViewBag.Title = "待办事项办理";
}

<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/sb-admin-2/css/sb-admin-2.css" rel="stylesheet" />
<script src="~/Content/sb-admin-2/js/sb-admin-2.js"></script>
<style>
    .col-md-12 {
        margin-top: 2px;
        margin-bottom: 2px;
    }
</style>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-xs-6">
            <div class="btn btn-warning" type="button" onclick="home();">
                <i class="fa fa-home fa-lg"></i>
            </div>
            <div class="btn btn-warning" type="button" onclick="back();">
                <i class="fa fa-envelope fa-lg"></i>
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-12"><div class="btn btn-primary">流程类型</div></div>
        <div class="col-md-12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Type</div>
        <div class="col-md-12"><div class="btn btn-primary">流程标题</div></div>
        <div class="col-md-12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Title</div>
        <div class="col-md-12"><div class="btn btn-primary">当前步骤</div></div>
        <div class="col-md-12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Step</div>
        <div class="col-md-12"><div class="btn btn-primary">流程表单</div></div>
        <div class="col-md-12">
            @{ 
                switch (Model.Template.ToLower())
                {
                    case "5e58b0a3692d4069ae0652dd2c3e3abc":
                        <table>
                            <tr>
                                <td>键</td>
                                <td>值</td>
                            </tr>
                        </table>
                        break;
                }
            }
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="btn btn-warning" type="button" onclick="home();">
                <i class="fa fa-home fa-lg"></i>
            </div>
            <div class="btn btn-warning" type="button" onclick="back();">
                <i class="fa fa-envelope fa-lg"></i>
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>
</div>

<script>
    function back() {
                    window.location = corp_url + 'Home/Task';
                }

                function home() {
                    window.location = corp_url + 'Home/Home';
                }
</script>
